<h1>Stupid Coaching</h1>
  <div class="container">
    <p><%= @question %></p>
    <p id= "you"> -You</p>
  </div>

  <div class="container">
    <p><%= @answer %></p>
    <p id= "coach"> -Your coach</p>
  </div>

<%= link_to "Ask your coach a new question", ask_path %>
